<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,79}</string>
                <key>spriteSize</key>
                <string>{710,195}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1124,1},{710,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-65}</string>
                <key>spriteSize</key>
                <string>{716,167}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1,721},{716,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-7}</string>
                <key>spriteSize</key>
                <string>{698,283}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1132,766},{698,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-7}</string>
                <key>spriteSize</key>
                <string>{708,283}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1321,1},{708,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-8}</string>
                <key>spriteSize</key>
                <string>{696,281}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1710,1051},{696,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-8}</string>
                <key>spriteSize</key>
                <string>{714,281}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{170,719},{714,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-8}</string>
                <key>spriteSize</key>
                <string>{698,281}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1427,1051},{698,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,12}</string>
                <key>spriteSize</key>
                <string>{714,241}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{453,717},{714,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-9}</string>
                <key>spriteSize</key>
                <string>{714,281}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{315,1},{714,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-75}</string>
                <key>spriteSize</key>
                <string>{716,155}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{158,1},{716,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-94}</string>
                <key>spriteSize</key>
                <string>{708,191}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1321,286},{708,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,143}</string>
                <key>spriteSize</key>
                <string>{706,63}</string>
                <key>spriteSourceSize</key>
                <string>{1008,715}</string>
                <key>textureRect</key>
                <string>{{1,1762},{706,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-29}</string>
                <key>spriteSize</key>
                <string>{712,321}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1,1439},{712,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-7}</string>
                <key>spriteSize</key>
                <string>{710,293}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{715,1431},{710,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,60}</string>
                <key>spriteSize</key>
                <string>{718,155}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1,1},{718,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-20}</string>
                <key>spriteSize</key>
                <string>{714,237}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{598,1},{714,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-8}</string>
                <key>spriteSize</key>
                <string>{712,285}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{696,717},{712,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-8}</string>
                <key>spriteSize</key>
                <string>{706,285}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{1321,479},{706,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_line8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-8}</string>
                <key>spriteSize</key>
                <string>{712,285}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{837,1},{712,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_line9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,55}</string>
                <key>spriteSize</key>
                <string>{712,147}</string>
                <key>spriteSourceSize</key>
                <string>{1008,717}</string>
                <key>textureRect</key>
                <string>{{983,715},{712,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LineSlot.png</string>
            <key>size</key>
            <string>{2030,1835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a4392992144ce073390a2cbcc9ce48a:5ab29a06b1be6dea3a03c6d8d9186b61:69fc8940d7dcbb11dc8dfe3bd276a6e6$</string>
            <key>textureFileName</key>
            <string>LineSlot.png</string>
        </dict>
    </dict>
</plist>
