<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_card_trash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1510,473},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gp_card_up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,115}</string>
                <key>spriteSourceSize</key>
                <string>{87,115}</string>
                <key>textureRect</key>
                <string>{{989,834},{87,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_bet_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{837,923},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{939,923},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1041,923},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1195,834},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1577,739},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bet_d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1579,827},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1579,915},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_hom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,385}</string>
                <key>spriteSourceSize</key>
                <string>{389,385}</string>
                <key>textureRect</key>
                <string>{{976,1},{389,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{1703,893},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,127}</string>
                <key>spriteSourceSize</key>
                <string>{137,127}</string>
                <key>textureRect</key>
                <string>{{1609,227},{137,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_bg_number1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1703,941},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1703,978},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1598,366},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_bg_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,239}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{596,723},{239,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnAuto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1106,834},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnRotate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{989,691},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1207,922},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_his.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{1536,633},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_nt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1132,691},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_nt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,301}</string>
                <key>spriteSourceSize</key>
                <string>{313,301}</string>
                <key>textureRect</key>
                <string>{{976,388},{313,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_row.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{1489,506},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1367,363},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btn_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{1275,714},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_btnx2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1357,506},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_cardup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,198}</string>
                <key>spriteSourceSize</key>
                <string>{150,198}</string>
                <key>textureRect</key>
                <string>{{837,723},{150,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_chambi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1481,852},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1725,366},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,112}</string>
                <key>textureRect</key>
                <string>{{1355,638},{117,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,117}</string>
                <key>spriteSourceSize</key>
                <string>{104,117}</string>
                <key>textureRect</key>
                <string>{{1352,752},{104,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_fruit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,117}</string>
                <key>spriteSourceSize</key>
                <string>{103,117}</string>
                <key>textureRect</key>
                <string>{{1,920},{103,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_fruit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,131}</string>
                <key>spriteSourceSize</key>
                <string>{95,131}</string>
                <key>textureRect</key>
                <string>{{210,920},{95,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_fruit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{120,920},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,120}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{1616,493},{108,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,97}</string>
                <key>textureRect</key>
                <string>{{343,920},{101,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1665,739},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_fruit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1667,816},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_hdc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,360}</string>
                <key>spriteSourceSize</key>
                <string>{240,360}</string>
                <key>textureRect</key>
                <string>{{1367,1},{240,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_hom_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{973,720}</string>
                <key>spriteSourceSize</key>
                <string>{973,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{973,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1481,994},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1535,740},{96,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1675,123},{102,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1616,615},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1143,923},{100,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1612,677},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1291,614},{98,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{102,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{698,964},{102,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{556,920},{100,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1345,858},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{556,920},{100,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1481,994},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1471,752},{98,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1481,994},{96,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{96,42}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1481,950},{96,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1661,915},{96,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1283,811},{102,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{596,964},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_sl_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1474,638},{100,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1661,915},{96,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{1675,1},{120,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_sl_bg_num.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{802,964},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_winbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,195}</string>
                <key>spriteSourceSize</key>
                <string>{593,195}</string>
                <key>textureRect</key>
                <string>{{1,723},{593,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1579,997},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_btn_den.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,64}</string>
                <key>spriteSourceSize</key>
                <string>{224,64}</string>
                <key>textureRect</key>
                <string>{{1291,388},{224,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_x2_btn_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,64}</string>
                <key>spriteSourceSize</key>
                <string>{224,64}</string>
                <key>textureRect</key>
                <string>{{1609,1},{224,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_x2_x4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{446,920},{86,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_x2_x4c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1510,363},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1305,915},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_x2_x4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,108}</string>
                <key>spriteSourceSize</key>
                <string>{86,108}</string>
                <key>textureRect</key>
                <string>{{1393,898},{86,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SlotFruit.png</string>
            <key>size</key>
            <string>{1744,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad0738110f8cf919c23f90c928ad7cf9:bf74503bd965b4d404f5547408768cc2:feede2298659d6e0c938107a6e3f0d82$</string>
            <key>textureFileName</key>
            <string>SlotFruit.png</string>
        </dict>
    </dict>
</plist>
